.scoreWrap {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    .btn{
        margin-top:20px;
    }
    h1{
        line-height: 58px;
    font-size: 22px;
    text-transform: capitalize;
    }
}