@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.App {
 font-size: 12px;
}
.form-label{
    font-size:18px;
}
.homewrap{
    margin-top: 20px;
    border:solid 5px #ccc;
    padding:20px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    min-height: 200px;
    position: relative;
    
}
.homewrap h1{
    font-size: 40px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.homewrap .spinner-border {
    margin: 0 auto;
    font-size: 17px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    border-width: 10px;
}



@media (max-width: 614px) {
    
       .containerWrap{margin:10px;}
    .homewrap .col{flex:auto;}
}
